@model JobApp.Models.JobApplicationData

@{
    ViewData["Title"] = "Create";
}

<h2>Create Job Application</h2>

<form asp-action="Create">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <select asp-for="Gender" class="form-control">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Other">Other</option>
                </select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Contact" class="control-label"> </label>
                <input asp-for="Contact" class="form-control" />
                <span asp-validation-for="Contact" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
        </div>
    </div>
    <h3>Education</h3>
    <div id="educationContainer">

        <div class="form-group education-item">
            <div class="row">
                <div class="col-md-3">
                    <label asp-for="Educations[0].Qualification" class="control-label"></label>
                    @*                    <input asp-for="Educations[0].Qualification" class="form-control" />
                    *@                    <select asp-for="Educations[0].Qualification" class="form-control">
                        <option value="SSC">SSC</option>
                        <option value="HSC">HSC</option>
                        <option value="Bechlor">Bechlor</option>
                        <option value="Master">Master</option>
                    </select>
                    <span asp-validation-for="Educations[0].Qualification" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="Educations[0].BoardUniversity" class="control-label"></label>
                    <input asp-for="Educations[0].BoardUniversity" class="form-control" />
                    <span asp-validation-for="Educations[0].BoardUniversity" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="Educations[0].Year" class="control-label"></label>
                    <input asp-for="Educations[0].Year" class="form-control" />
                    <span asp-validation-for="Educations[0].Year" class="text-danger"></span>
                </div>
                <div class="col-md-3">

                    <label asp-for="Educations[0].CGPA" class="control-label"></label>
                    <input asp-for="Educations[0].CGPA" class="form-control" />
                    <span asp-validation-for="Educations[0].CGPA" class="text-danger"></span>
                </div>
            </div>

        </div>
    </div>
    <br>
    <button type="button" id="addEducation">Add Education</button>

    <h3>Work Experience</h3>
    <div id="workExperienceContainer">
        <div class="form-group work-experience-item">
            <div class="row">
                <div class="col-md-3">
                    <label asp-for="WorkExperiences[0].Company" class="control-label"></label>
                    <input asp-for="WorkExperiences[0].Company" class="form-control" />
                    <span asp-validation-for="WorkExperiences[0].Company" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="WorkExperiences[0].Designation" class="control-label"></label>
                    <input asp-for="WorkExperiences[0].Designation" class="form-control" />
                    <span asp-validation-for="WorkExperiences[0].Designation" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="WorkExperiences[0].Fromdate" class="control-label"></label>
                    <input asp-for="WorkExperiences[0].Fromdate" class="form-control" />
                    <span asp-validation-for="WorkExperiences[0].Fromdate" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="WorkExperiences[0].Todate" class="control-label"></label>
                    <input asp-for="WorkExperiences[0].Todate" class="form-control" />
                    <span asp-validation-for="WorkExperiences[0].Todate" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <button type="button" id="addWorkExperience">Add Work Experience</button>
    <div class="row">
        <div class="col-md-3">
            <div class="form-check">
                <label class="form-check-label" for="Ccharpexperience">
                    C#
                    <div class="form-check">
                        <input asp-for="Ccharpexperience" type="radio" value="Beginner" id="CSharpBeginnerRadio" name="Ccharpexperience" />
                        <label class="form-check-label" for="CSharpBeginnerRadio">
                            Beginner
                        </label>
                    </div>
                    <div class="form-check">
                        <input asp-for="Ccharpexperience" type="radio" value="Mediator" id="CSharpMediatorRadio" name="Ccharpexperience" />
                        <label class="form-check-label" for="CSharpMediatorRadio">
                            Mediator
                        </label>
                    </div>
                    <div class="form-check">
                        <input asp-for="Ccharpexperience" type="radio" value="Expert" id="CSharpExpertRadio" name="Ccharpexperience" />
                        <label class="form-check-label" for="CSharpExpertRadio">
                            Expert
                        </label>
                    </div>
                </label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-check">
                <label class="form-check-label" for="Mssqlexperience">
                    MSSQL
                    <div class="form-check">
                        <input asp-for="Mssqlexperience" type="radio" value="Beginner" id="mssqlBeginnerRadio" name="Mssqlexperience" />
                        <label class="form-check-label" for="mssqlBeginnerRadio">
                            Beginner
                        </label>
                    </div>
                    <div class="form-check">
                        <input asp-for="Mssqlexperience" type="radio" value="Mediator" id="mssqlMediatorRadio" name="Mssqlexperience" />
                        <label class="form-check-label" for="mssqlMediatorRadio">
                            Mediator
                        </label>
                    </div>
                    <div class="form-check">
                        <input asp-for="Mssqlexperience" type="radio" value="Expert" id="mssqlExpertRadio" name="Mssqlexperience" />
                        <label class="form-check-label" for="mssqlExpertRadio">
                            Expert
                        </label>
                    </div>
                </label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-check">
                <label class="form-check-label" for="dotnetexperience">
                    Dot NET
                    <div class="form-check">
                        <input asp-for="dotnetexperience" type="radio" value="Beginner" id="dotBeginnerRadio" name="dotnetexperience" />
                        <label class="form-check-label" for="dotBeginnerRadio">
                            Beginner
                        </label>
                    </div>
                    <div class="form-check">
                        <input asp-for="dotnetexperience" type="radio" value="Mediator" id="dotMediatorRadio" name="dotnetexperience" />
                        <label class="form-check-label" for="dotMediatorRadio">
                            Mediator
                        </label>
                    </div>
                    <div class="form-check">
                        <input asp-for="dotnetexperience" type="radio" value="Expert" id="dotExpertRadio" name="dotnetexperience" />
                        <label class="form-check-label" for="dotExpertRadio">
                            Expert
                        </label>
                    </div>
                </label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-check">
                <label class="form-check-label" for="devopsexperience">
                    Devops
                    <div class="form-check">
                        <input asp-for="devopsexperience" type="radio" value="Beginner" id="DevopsBeginnerRadio" name="devopsexperience" />
                        <label class="form-check-label" for="DevopsBeginnerRadio">
                            Beginner
                        </label>
                    </div>
                    <div class="form-check">
                        <input asp-for="devopsexperience" type="radio" value="Mediator" id="DevopsMediatorRadio" name="devopsexperience" />
                        <label class="form-check-label" for="DevopsMediatorRadio">
                            Mediator
                        </label>
                    </div>
                    <div class="form-check">
                        <input asp-for="devopsexperience" type="radio" value="Expert" id="DevopsExpertRadio" name="devopsexperience" />
                        <label class="form-check-label" for="DevopsExpertRadio">
                            Expert
                        </label>
                    </div>
                </label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="PreferredLocation" class="col-md-2 control-label"></label>

                <input asp-for="PreferredLocation" class="form-control" />
                <span asp-validation-for="PreferredLocation" class="text-danger"></span>

            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="ExpectedCTC" class="col-md-2 control-label"></label>

                <input asp-for="ExpectedCTC" class="form-control" />
                <span asp-validation-for="ExpectedCTC" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="CurrentCTC" class="col-md-2 control-label"></label>

                <input asp-for="CurrentCTC" class="form-control" />
                <span asp-validation-for="CurrentCTC" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="NoticePeriod" class="col-md-2 control-label"></label>

                <input asp-for="NoticePeriod" class="form-control" />
                <span asp-validation-for="NoticePeriod" class="text-danger"></span>
            </div>
        </div>
    </div>
    <br />
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

@section scripts {
    <script>
        var educationIndex = 1;
        var languageIndex = 1;
        var workExperienceIndex = 1;

        $("#addEducation").click(function () {
            educationIndex++;
            var educationItem = `<div class="form-group education-item"><div class="row">
                                                                                                                                                            <div class="col-md-3">
                                                                                                                                                                            <label asp-for="Educations[`+ educationIndex + `].Qualification" class="control - label"></label>

                                                                                                                                                                            <select asp-for="Educations[`+ educationIndex + `].Qualification" class="form-control">
                                                                                                                                                                        <option value="SSC">SSC</option>
                                                                                                                                                                        <option value="HSC">HSC</option>
                                                                                                                                                                        <option value="Bechlor">Bechlor</option>
                                                                                                                                                                        <option value="Master">Master</option>
                                                                                                                                                                    </select>
                                                                                                                                                                            <span asp-validation-for="Educations[`+ educationIndex + `].Qualification" class="text-danger"></span>
                                                                                                                                                                </div>
                                                                                                                                                                                <div class="col-md-3">
                                                                                                                                                                                                                                                    <label asp-for="Educations[` + educationIndex + `].BoardUniversity" class="control-label"></label>
                                                                                                                                                                                                                                                    <input asp-for="Educations[` + educationIndex + `].BoardUniversity" class="form-control" />
                                                                                                                                                                                                                                                            <span asp-validation-for="Educations[` + educationIndex + `].BoardUniversity" class="text-danger"></span> </div>
                                                                                                                                                                                <div class="col-md-3">

                                                                                                                                                                                                                                                    <label asp-for="Educations[` + educationIndex + `].Year" class="control-label"></label>
                                                                                                                                                                                                                                                    <input asp-for="Educations[` + educationIndex + `].Year" class="form-control" />
                                                                                                                                                                                                                                                            <span asp-validation-for="Educations[` + educationIndex + `].Year" class="text-danger"></span> </div>
                                                                                                                                                                                <div class="col-md-3">
                                                                                                                                                                                                                                                    <label asp-for="Educations[` + educationIndex + `].CGPA" class="control-label"></label>
                                                                                                                                                                                                                                                    <input asp-for="Educations[` + educationIndex + `].CGPA" class="form-control" />
                                                                                                                                                                                                                                                    <span asp-validation-for="Educations[` + educationIndex + `].CGPA" class="text-danger"></span>
                                                                                                                                                                                                                                                </div></div></div>`;
            $("#educationContainer").append(educationItem);
        });

        $("#addWorkExperience").click(function () {
            workExperienceIndex++;
            var workExperienceItem = `<div class="form-group work-experience-item">
                                                                                                            <div class="row">
                                                                                                                <div class="col-md-3">
                                                                                                                                                                                                                                                    <label asp-for="WorkExperiences[` + workExperienceIndex + `].Company" class="control-label"></label>
                                                                                                                                                                                                                                                    <input asp-for="WorkExperiences[` + workExperienceIndex + `].Company" class="form-control" />
                                                                                                                                                                                                                                                    <span asp-validation-for="WorkExperiences[` + workExperienceIndex + `].Company" class="text-danger"></span>
                                                                                                </div>
                                                                                                                <div class="col-md-3">
                                                                                                                                                                                                                                                    <label asp-for="WorkExperiences[` + workExperienceIndex + `].Designation" class="control-label"></label>
                                                                                                                                                                                                                                                    <input asp-for="WorkExperiences[` + workExperienceIndex + `].Designation" class="form-control" />
                                                                                                                                                                                                                                                    <span asp-validation-for="WorkExperiences[` + workExperienceIndex + `].Designation" class="text-danger"></span>
                                                                                                                                                                                                                                                            </div>
                                                                                                                <div class="col-md-3">
                                                                                                                                                                                                                                                    <label asp-for="WorkExperiences[` + workExperienceIndex + `].Fromdate" class="control-label"></label>
                                                                                                                                                                                                                                                            <input asp-for="WorkExperiences[` + workExperienceIndex + `].Fromdate" class="form-control" />
                                                                                                                                                                                                                                                    <span asp-validation-for="WorkExperiences[` + workExperienceIndex + `].Fromdate" class="text-danger"></span>
                                                                                                                                                                                                                                                            </div>
                                                                                                                <div class="col-md-3">
                                                                                                                                                                                                                                                    <label asp-for="WorkExperiences[` + workExperienceIndex + `].Todate" class="control-label"></label>
                                                                                                                                                                                                                                                            <input asp-for="WorkExperiences[` + workExperienceIndex + `].Todate"  class="form-control" />
                                                                                                                                                                                                                                                    <span asp-validation-for="WorkExperiences[` + workExperienceIndex + `].Todate" class="text-danger"></span>
                                                                                                                                                                                                                                                </div></div></div>`;
            $("#workExperienceContainer").append(workExperienceItem);
        });
    </script>
}